<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">

        <a href="#/developer/{{currentUser._id}}/website"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">{{model.website.name}} - Pages</a>

        <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/new"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

    </div>
</nav>

<div ng-if="model.error"
     class="alert alert-danger"
     role="alert">
    {{model.error}}
</div>

<div jga-sortable
     jga-sortable-callback="model.sortPage(start, end)">
    <div ng-repeat="page in model.pages | orderBy : model.sortBy : model.reverse" ng-show="model.viewType == 'list'"
         class="row jga-bg-highlight-on-hover" style="padding: 8px">
        <div class="col-xs-10">
            <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
        </div>
        <div class="col-xs-2">
            <a  href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{page._id}}"
                class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>

    <div ng-show="model.viewType == 'grid'">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="page in model.pages | orderBy : model.sortBy : model.reverse">
                <div class="thumbnail">

                    <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        <object data="../../thumbnails/{{model.developerId}}/{{model.websiteId}}/{{page._id}}.png" type="image/png" class="thumbnail-preview">
                            <img src="../../ide/images/thumbnail-placeholder.png" class="thumbnail-preview"/>
                        </object>
                    </a>

                    <div class="caption">
                        <p>
                            <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
                               class="pull-left">
                            {{page.name}}
                            </a>

                            <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{page._id}}"
                               class="pull-right">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a ng-click="model.toggleView()"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-th" ng-show="model.viewType == 'list'"></span>
            <span class="glyphicon glyphicon-th-list" ng-show="model.viewType == 'grid'"></span>
        </a>

        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>
		
		<span class="dropup" id="sort-options">
			<button class="btn btn-default dropdown-toggle" id="sort-button" type="button" data-toggle="dropdown">
				<span class="glyphicon glyphicon-chevron-up"></span>
				<div id="sort-button-text">AZ</div>
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<span id="list-label" ng-click="$event.stopPropagation()" id="list-option-text">Last Modified</span>
					<span id="list-icon" class="glyphicon glyphicon-sort-by-attributes-alt" ng-click="model.sortList('dateModified', true)"/>
					<span id="list-icon" class="glyphicon glyphicon-sort-by-attributes" ng-click="model.sortList('dateModified', false)"/>
				</li>
				<li>
					<span id="list-label" ng-click="$event.stopPropagation()">Name</span>
					<span id="list-icon" class="glyphicon glyphicon-sort-by-alphabet-alt" ng-click="model.sortList('name', true)"/>
					<span id="list-icon" class="glyphicon glyphicon-sort-by-alphabet" ng-click="model.sortList('name', false)"/>
				</li>
			</ul>
		</span>
    </div>
</nav>
