<div class="hidden-xs">

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="numberInput1">Input 1</label><span class="pull-right"><input type="checkbox" ng-model="numberInput1.type"/> Literal</span>
                <div class="input-group">
                    <input ng-model="model.statement.numberStatement.operand1[numberInput1.type?'literal':'variable']" type="text" class="form-control" id="numberInput1">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets" ng-click="model.statement.numberStatement.operand1.variable = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="numberOperation">Operation</label>
                <select name="numberOperation"
                        ng-options="operation.label for operation in model.numberOperations track by operation.label"
                        ng-model="model.numberOperation"
                        class="form-control" id="numberOperation">
                    <option value="">Select Operation</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="numberInput2">Input 2</label><span class="pull-right"><input type="checkbox" ng-model="numberInput2.type"/> Literal</span>
                <div class="input-group">
                    <input ng-model="model.statement.numberStatement.operand2[numberInput2.type?'literal':'variable']" type="text" class="form-control" id="numberInput2">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets" ng-click="model.statement.numberStatement.operand2.variable = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="output">Output</label>
                <div class="input-group">
                    <input ng-model="model.statement.output" type="text" class="form-control" id="output">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets" ng-click="model.statement.output = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--
<div class="hidden-md">
<div class="row">
    <div class="col-xs-3">
        <div class="input-group">
            <input ng-model="model.selectedWidget1.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="pull-right" style="position: relative;top:-35px;left:20px">=</span>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <input ng-model="model.selectedWidget1.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <select name="numberOperation2"
                ng-options="operation.label for operation in model.numberOperations track by operation.label"
                ng-model="model.numberOperation2"
                class="form-control" id="numberOperation2">
            <option value="">Select Operation</option>
        </select>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <input ng-model="model.selectedWidget1.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
-->