<div class="form-group">
    <label for="dateOperation">What operation do you want to do?</label>


    <select name="dateOperation"
            ng-options="operation.value as operation.label for operation in model.dateOperations track by operation.label"
            ng-model="model.statement.dateStatement.operation" class="form-control" id="dateOperation">
    </select>
</div>

<div ng-show="model.statement.dateStatement.operation != undefined &&
model.statement.dateStatement.operation === 'NEW_DATE'">
    <div class="form-group">
        <label for="dateVar">Select a variable or provide input</label>
        <span class="pull-right">
            <input type="checkbox" ng-model="operand1.type" ng-click="model.removeProperty(['operand1'])"/> Literal
        </span>

        <div class="input-group">
            <input ng-model="model.statement.dateStatement.operand1[operand1.type?'literal':'variable']"
                   type="text"
                   class="form-control" id="newDate">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets"
                        ng-click="model.statement.dateStatement.operand1[operand1.type?'literal':'variable'] = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-if="(model.statement.dateStatement.operation === 'DATE_FROM_MILLISECONDS')"
     class="alert alert-info">
    Provide milliseconds since January 1, 1970
</div>


<div ng-show="model.statement.dateStatement.operation != undefined &&
model.statement.dateStatement.operation === 'DATE_FROM_MILLISECONDS'">
    <div class="form-group">
        <label for="dateVar">Select a variable or provide input</label>
        <span class="pull-right">
            <input type="checkbox" ng-model="milliseconds.type" ng-click="model.removeProperty(['milliseconds'])"/> Literal
        </span>

        <div class="input-group">
            <input ng-model="model.statement.dateStatement.milliseconds[milliseconds.type?'literal':'variable']"
                   type="text"
                   class="form-control" id="dateMs">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets"
                        ng-click="model.statement.dateStatement.milliseconds[milliseconds.type?'literal':'variable'] = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div ng-show="model.statement.dateStatement.operation != undefined &&
model.statement.dateStatement.operation === 'DATE_FROM_STRING'">
    <div class="form-group">
        <label for="dateVar">Select a variable or provide input</label>
        <span class="pull-right">
            <input type="checkbox" ng-model="dateString.type" ng-click="model.removeProperty(['dateString'])"/> Literal
        </span>

        <div class="input-group">
            <input ng-model="model.statement.dateStatement.dateString[dateString.type?'literal':'variable']"
                   type="text"
                   class="form-control" id="dateVar">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets"
                        ng-click="model.statement.dateStatement.dateString[dateString.type?'literal':'variable'] = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div ng-show="model.statement.dateStatement.operation === 'DATE_FROM_PARAMETERS'">
    <div class="row">

        <div class="col-sm-2">
            <div class="form-group">
                <label for="dateParamYear">Year:</label>
                <span class="pull-right">
                    <input type="checkbox" ng-model="year.type" ng-click="model.removeProperty(['year'])"/> Literal
                </span>

                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.year[year.type?'literal':'variable']"
                           type="text"
                           class="form-control"
                           placeholder="Y" id="dateParamYear">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.year[year.type?'literal':'variable'] = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="dateParamMonth">Month:</label>
                <span class="pull-right">
                    <input type="checkbox" ng-model="month.type" ng-click="model.removeProperty(['month'])"/> Literal
                </span>

                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.month[month.type?'literal':'variable']"
                           type="text"
                           class="form-control"
                           placeholder="M" id="dateParamMonth">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.month[month.type?'literal':'variable'] = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="dateParamDay">Day:</label>
                <span class="pull-right">
                    <input type="checkbox" ng-model="day.type" ng-click="model.removeProperty(['day'])"/> Literal
                </span>

                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.day[day.type?'literal':'variable']"
                           type="text"
                           class="form-control"
                           placeholder="D" id="dateParamDay">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.day[day.type?'literal':'variable'] = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="dateParamHours">Hours:</label>
                <span class="pull-right">
                    <input type="checkbox" ng-model="hours.type" ng-click="model.removeProperty(['hours'])"/> Literal
                </span>

                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.hours[hours.type?'literal':'variable']"
                           type="text"
                           class="form-control"
                           placeholder="H" id="dateParamHours">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.hours[hours.type?'literal':'variable'] = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="dateParamMin">Minutes:</label>
                <span class="pull-right">
                    <input type="checkbox" ng-model="minutes.type" ng-click="model.removeProperty(['minutes'])"/> Literal
                </span>

                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.minutes[minutes.type?'literal':'variable']"
                           type="text"
                           class="form-control"
                           placeholder="M" id="dateParamMin">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.minutes[minutes.type?'literal':'variable'] = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="dateParamSeconds">Seconds:</label>
                <span class="pull-right">
                    <input type="checkbox" ng-model="seconds.type" ng-click="model.removeProperty(['seconds'])"/> Literal
                </span>

                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.seconds[seconds.type?'literal':'variable']"
                           type="text"
                           class="form-control"
                           placeholder="S" id="dateParamSeconds">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.seconds[seconds.type?'literal':'variable'] = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2" ng-show="false">
            <div class="form-group">
                <label for="dateParamMillisecons">Milliseconds:</label>
                <div class="input-group">
                    <input ng-model="model.statement.dateStatement.operand1MilliSeconds"
                           type="text"
                           class="form-control"
                           placeholder="ms" id="dateParamMillisecons">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right wam-left">
                            <li ng-repeat="widget in model.widgets"
                                ng-click="model.statement.dateStatement.operand1MilliSeconds = widget.name">
                                <a>{{widget.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div ng-show="model.statement.dateStatement.operation != undefined &&
(model.statement.dateStatement.operation === 'ADD' || model.statement.dateStatement.operation === 'SUBTRACT')">
    <div class="form-group">
        <label for="dateSelectType">Select a variable or pick a date from the calendar</label>

        <div class="input-group">
            <input ng-model="model.statement.dateStatement.operand[operand.type?'literal':'variable']"
                   type="text"
                   class="form-control" id="dateSelectType">

            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        ng-click="model.removeProperty(['operand', 'operand1'])"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-click="model.statement.dateStatement.operand1 = 'Select From Calendar'">
                        <a>Select From Calendar</a>
                    </li>
                    <li ng-repeat="widget in model.widgets"
                        ng-click="model.statement.dateStatement.operand[operand.type?'literal':'variable'] = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-show="model.statement.dateStatement.operand1 === 'Select From Calendar' ||
model.statement.dateStatement.operation === 'DATE_FROM_CALENDAR'" class="input-date">
    Select a date
    <div class="form-group">
        <div class="input-group date" pick-date-time ng-model="model.statement.dateStatement.operand.literal">
            <input type="string"
                   class="form-control"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div ng-show="(model.statement.dateStatement.operand1==='Per single digit' &&
(model.statement.dateStatement.operation === 'ADD' || model.statement.dateStatement.operation === 'SUBTRACT'))">
    What Time/Date have to be calculated
    <div class="row">

        <div class="col-sm-2">
            Year:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Year"
                       type="text"
                       class="form-control"
                       placeholder="Y">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Year = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Month:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Month"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Month = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Date:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Date"
                       type="text"
                       class="form-control"
                       placeholder="D">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Date = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Hours:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Hours"
                       type="text"
                       class="form-control"
                       placeholder="H">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Hours = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Minutes:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Minutes"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Minutes = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Seconds:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Seconds"
                       type="text"
                       class="form-control"
                       placeholder="S">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.operand1Seconds = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-show="((model.statement.dateStatement.operand != undefined || model.statement.dateStatement.operand1 != undefined) &&
(model.statement.dateStatement.operation === 'ADD' || model.statement.dateStatement.operation === 'SUBTRACT'))">
    What Days/Time to be
    <span ng-show="model.statement.dateStatement.operation === 'ADD'">
        Added
    </span>
    <span ng-show="model.statement.dateStatement.operation === 'SUBTRACT'">
        Subtracted
    </span>
    <div class="row">

        <div class="col-sm-2">
            Years:
            <span class="pull-right">
                <input type="checkbox" ng-model="years.type" ng-click="model.removeProperty(['years'])"/> Literal
            </span>
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.years[years.type?'literal':'variable']"
                       type="text"
                       class="form-control"
                       placeholder="Y">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.years[years.type?'literal':'variable'] = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Months:
            <span class="pull-right">
                <input type="checkbox" ng-model="months.type" ng-click="model.removeProperty(['months'])"/> Literal
            </span>
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.months[months.type?'literal':'variable']"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.months[months.type?'literal':'variable'] = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Days:
            <span class="pull-right">
                <input type="checkbox" ng-model="day.type" ng-click="model.removeProperty(['day'])"/> Literal
            </span>
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.day[day.type?'literal':'variable']"
                       type="text"
                       class="form-control"
                       placeholder="D">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.day[day.type?'literal':'variable'] = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Hours:
            <span class="pull-right">
                <input type="checkbox" ng-model="hours.type" ng-click="model.removeProperty(['hours'])"/> Literal
            </span>
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.hours[hours.type?'literal':'variable']"
                       type="text"
                       class="form-control"
                       placeholder="H">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.hours[hours.type?'literal':'variable'] = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Minutes:
            <span class="pull-right">
                <input type="checkbox" ng-model="minutes.type" ng-click="model.removeProperty(['minutes'])"/> Literal
            </span>

            <div class="input-group">
                <input ng-model="model.statement.dateStatement.minutes[minutes.type?'literal':'variable']"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.minutes[minutes.type?'literal':'variable'] = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Seconds:
            <span class="pull-right">
                <input type="checkbox" ng-model="seconds.type" ng-click="model.removeProperty(['seconds'])"/> Literal
            </span>

            <div class="input-group">
                <input ng-model="model.statement.dateStatement.seconds[seconds.type?'literal':'variable']"
                       type="text"
                       class="form-control"
                       placeholder="S">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.seconds[seconds.type?'literal':'variable'] = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<div ng-show="model.statement.dateStatement.operation != undefined &&
(model.statement.dateStatement.operation === 'TO_UTC_FORMAT' || model.statement.dateStatement.operation === 'TO_LOCAL_FORMAT')">
    <div class="form-group">
        <label for="dateVar">Select a variable or provide input</label>
        <span class="pull-right">
            <input type="checkbox" ng-model="operand.type" ng-click="model.removeProperty(['operand'])"/> Literal
        </span>

        <div class="input-group">
            <input ng-model="model.statement.dateStatement.operand[operand.type?'literal':'variable']"
                   type="text"
                   class="form-control" id="dateUtc">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        ng-click="model.removeProperty(['operand'])"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets"
                        ng-click="model.statement.dateStatement.operand[operand.type?'literal':'variable'] = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div ng-show="((model.statement.dateStatement.operation === 'ADD' || model.statement.dateStatement.operation === 'SUBTRACT') &&
(model.statement.dateStatement.year != undefined ||
model.statement.dateStatement.minutes != undefined ||
model.statement.dateStatement.day != undefined)) ||
(model.statement.dateStatement.operation === 'NEW_DATE' && model.statement.dateStatement.operand1 != undefined) ||
(model.statement.dateStatement.operation === 'DATE_FROM_STRING' && model.statement.dateStatement.dateString != undefined) ||
(model.statement.dateStatement.operation === 'DATE_FROM_MILLISECONDS' && model.statement.dateStatement.milliseconds != undefined) ||
(model.statement.dateStatement.operation === 'DATE_FROM_PARAMETERS' &&
(model.statement.dateStatement.year != undefined && model.statement.dateStatement.month != undefined &&
model.statement.dateStatement.day != undefined && model.statement.dateStatement.hours != undefined &&
model.statement.dateStatement.minutes != undefined && model.statement.dateStatement.seconds != undefined))">

    Save the result in
    <div class="input-group">
        <input ng-model="model.statement.dateStatement.result"
               type="text"
               class="form-control">
        <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right wam-left">
                <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.result = widget.name">
                    <a>{{widget.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>